body {
    background: #ddd;
}
div#container {
    position: relative;
    width: 100%;
}

div#div-header {
    width: 100%;
}

div#div-chart {
    height: 300px;
    width: 100%;
}

div#div-content {
    width: 100%;
}

div.flex-wrapper {
    display: inline-flex;
    justify-content: flex-start;
}

div.flex-two {
    background: #fff;
    margin: 5px 5px 5px 5px;
    width: 50%;
}

div.flex-three {
    align-items: center;
    background: #ddd;
    color: #555;
    display: flex;
    font-size: 20pt;
    justify-content: center;
    height: 90px;
    margin: 5px 5px 5px 5px;
    width: 33%;
}

div.flex-four {
    align-items: center;
    background: #ddd;
    color: #333;
    display: flex;
    font-size: 20pt;
    height: 90px;
    justify-content: center;
    margin: 5px 5px 5px 5px;
    width: 25%;
}

div.flex-header {
    height: 100px;
}

div.flex-chart {
    height: 290px;
}

div.flex-body {
    height: 300px;
}

div.background-green {
    background-color: lightgreen;
}

div.background-yellow {
    background-color: yellow;
}

div.background-red {
    background-color: lightcoral;
}
