.demo-card-square.mdl-card {
  border-style: solid;
  border-color: black;
  width: 500px;
  height: 325px;

}
.mdl-grid {
  padding-left: 100px;
  padding-top: 100px;
  padding-right: 100px;

}
.mdl-textfield{
  width: auto;
  padding: 0px;
  float: right;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin-right: 20px;
}
.mdl-button{
  float: right;
  margin-right: 10px;
}

.mdl-data-table {
  border-style: solid;
  border-color: black;
  border-width: 3px;
}
.mdl-data-table__cell--non-numeric {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  color: black;

}

.odd {
  background-color: cyan;
  text-align: center;
}

.even {
  text-align: center;
}
