.addMember {
  border-style: solid;
  border-color: black;
  width: 500px;
  height: 325px;

}
.grid {
  padding-left: 100px;
  padding-top: 100px;
  padding-right: 100px;

}
.input{
  width: auto;
  padding: 0px;
  float: right;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin-right: 20px;
}
.addButton{
  float: right;
  margin-right: 10px;
}

.table {
  border-style: solid;
  border-color: black;
  border-width: 3px;
}


.odd {
  background-color: cyan;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  color: black;
}

.even {
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  color: black;
}
